<section class="sign-in">
    <div class="form signin ">
        <div class="card flex">
            <h2>Sign in</h2>
            <div class="flex">
                <%= form_with url: session_path do |f| %>
                <div class="p-1">
                    <%= f.label :email%>
                    <%= f.text_field :email ,class:"form-control input"%> 
                </div>
                <div class="p-1">
                    <%= f.label :password%>
                    <%= f.password_field :password ,class:"form-control input"%> 
                </div>
                <%= f.submit "Sign In", class:"btn btn-primary my-1 " %>
                <% end %>
            </div>
            <p>don't have an accound? <%= link_to 'Sign Up Page', new_user_path%></p>
        </div>
    </div>
</section>