
<section class="flh-home">
    <div class="container grid">
        <div class="flh-home-body">
            <ul class="flh-home-body flex">
                <li><%= link_to image_tag('chalkbord.PNG'), "/flh/modules" ,class:"flh-logo"%><%= link_to 'Modules', flh_modules_path %></li>
                <li><%= link_to image_tag('comment.PNG'), "/flh/society/questions",class:"flh-logo" %><i class="fa-solid fa-comments-dollar"></i> <%= link_to 'Society', flh_society_questions_path %></li>
                <li><%= link_to image_tag('books.PNG'), "/flh/resources/posts",class:"flh-logo" %><i class="fa-solid fa-books"></i><%= link_to 'Resources', flh_resources_posts_path %></li>
                <li><%= link_to image_tag('calander.PNG'), "/flh/events",class:"flh-logo" %><i class="fa-solid fa-calendar-day"></i></i><%= link_to 'Events', flh_events_path %></li>
            </ul>
        </div>
    </div>
</section>
