
<section clas="event">
    <div class="container grid">
        <div>
            <h3>
                
                <br>
                <%= @flh_event.title %>
            </h3>
        </div>
        <div>
            link:
            <br>
            <%= @flh_event.link %>
        </div>
        <div>
            Event Description:
            <br>
            <%= @flh_event.body %>
        </div>
        <div>
            Date:
            <br>
            <%= @flh_event.date %>  
        </div>
        <% if can? :crud, @flh_event %>
            <div class="d-flex">
                <div class="p-1">
                    <%= button_to 'Edit', edit_flh_event_path(@flh_event), method: :get , class:"btn btn-primary"%>
                </div>
                <div class="p-1"> 
                    <%= button_to 'Delete', flh_event_path(@flh_event), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-primary" %>
                </div>
            </div>
        <% end %>
        <div class="my-1"></div>
    </div>
</section>