<h1 class="text-center">Create a new user account</h1>

    <%= form_with model: @new_user, url: users_path, method: :post do |f|%>

        
        <div class="p-1">
            <%= f.label :first_name%>
            <%= f.text_field :first_name ,class:"form-control"%>
        </div>
        
        <div class="p-1">
            <%= f.label :last_name%>
            <%= f.text_field :last_name ,class:"form-control"%>
        </div>
        <div class="p-1">
            <%= f.label :email%>
            <%= f.text_field :email ,class:"form-control"%>
        </div>
        <div class="p-1">
            <%= f.label :phone_number%>
            <%= f.text_field :phone_number ,class:"form-control"%>
        </div>
        <div class="p-1">
            <%= f.label :password%>
            <%= f.text_field :password ,class:"form-control"%>
        </div>
        <div class="p-1">
            <%= f.label :password_confirmation%>
            <%= f.text_field :password_confirmation ,class:"form-control"%>
        </div>
        <div>

            <%= f.check_box :is_advisor %>
            <%= f.label :is_advisor, "Advisor account" %>

            <%= f.check_box :is_admin %>
            <%= f.label :is_admin, "Admin account" %>

        </div>
        <%= f.submit "Sign Up" , class:"btn btn-primary" %>
    <% end %>