<div>
    <br>
    Your business account over view
    <br>
    income:
    <br>
    <%= link_to 'add a business income', new_business_income_path %>
    <br>
    <%= link_to 'all your income', business_income_index_path %> 
    <br>
    savings:
    <br>
    <%= link_to 'add a business saving', new_business_saving_path %>
    <br>
    <%= link_to 'all your saving', business_savings_path %> 
    <br>   
    expenses:
    <br>
    <%= link_to 'add a new expense', new_business_expense_path %>
    <br> 
    <%= link_to 'all your expenses', business_expenses_path %>
</div>