<section class="question">
    <div class="container grid">
        <%= form_with(model: @flh_society_question, url: flh_society_questions_path ) do |f| %>
        <div>
            <%= f.label :title %>
            <br>
            <%= f.text_field :title, class:"form-control input"%>
        </div>
        <br>
        <div>
            <%= f.label :body %>
            <br>
            <%= f.text_field :body, class:"form-control input"%>
        </div>
        <br>
        <%= f.submit  "Ask" , class:"btn btn-primary my-1 " %>
        <% end %>

    </div>
</section>

