
<section class="show-question">
    <div class="container grid">
        <div class="my-1">
        </div>
        <div class="question-show">
            <div class="question-title">
                <h2><%= @flh_society_question.title %></h2>
            </div>
            <div class="question-body">
                &nbsp; &nbsp; &nbsp; &nbsp; <%= @flh_society_question.body%>
            </div>
        </div>
        <div class="control-panel flex flex-start">
            <% if can? :crud, @flh_society_question %>
                <div class="control-panel flex flex-start">
                    <div class="control-panel-item p-2">
                        <%= button_to 'Edit', edit_flh_society_question_path(@flh_society_question), method: :get , class:"btn btn-primary"%>
                    </div>
                    <div class="control-panel-item p-2"> 
                        <%= button_to 'Delete', flh_society_question_path(@flh_society_question), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-primary" %>
                    </div>
                </div>        
            <% end %>
                <div>
                    <% if @like.present? %>
                        <div class="control-panel-item  p-2">
                            <%= button_to "Unlike", like_path(@like.id), method: :delete , class:"btn btn-primary" %>
                        </div>
                    <% else %>
                        <div class="control-panel-item p-2">
                            <%= button_to 'Like', flh_society_question_likes_path(@flh_society_question), method: :post , class:"btn btn-primary" %>
                        </div>
                    <% end %>
                </div>
        </div>    
        <div class="asnwers">
            <% @flh_society_answers.each do |answer| %>
                <div class="container grid">
                    <ul>
                        <div>
                            - <%= answer.body%>
                        </div>
                        <div>
                            <small>answered <%= time_ago_in_words(answer.created_at) %> ago by <label>Created by: <%= answer.user.full_name%> </label>
                            </small>
                        </div>
                        <div>
                            <% if can? :crud, answer %>
                                <%= button_to "Delete", flh_society_question_answer_path(@flh_society_question.id, answer.id), method: :delete , class:"btn btn-primary" %>
                            <% end %>                        
                        </div>
                    </ul>                
                </div>
                <br>
            <% end %>
        </div>
        <div class="write-answer">
            <% if @flh_society_answer.errors.any? %>
            <ul>
                <% @flh_society_answer.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                <% end %>
            </ul>
             <% end %>
            <%= form_with(model:[@flh_society_question, @flh_society_answer], url: flh_society_question_answers_path(@flh_society_question)) do |f|%>
            <div>
                <%= f.label :Answer%>
                <br>
                <%= f.text_field :body, cols:50, rows: 2 ,class:"form-control input" %>
            </div>
            <br>
            <%= f.submit "answer" , class:"btn btn-primary p-1" %>
            <% end %> 
        </div>
        <div class="my-1">
        </div>
        
    </div>
</section>