<!DOCTYPE html>
<html>
  <head>
    <title>Buckskeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo"><%= link_to 'Buckskeeper', root_path %></h1>
        <nav>
          <ul>
            <li><%= link_to 'FLH', flh_path %></li>
            <li>
              <%if(user_signed_in?) %>
                <div >
                  <div >
                    Hello <%= current_user.first_name%>!
                  </div>
                    <%= link_to 'Your profile', user_path(current_user) %>
                  <div >
                    <%= button_to "Log out", session_path, method: :delete, class:"btn btn-primary" %>
                  </div>    
                </div>
                <% if current_user.is_individual == true %>
                  <%= link_to 'Account over view', personal_path %>
                <% end %>
                <% if current_user.is_business == true %>
                  <%= link_to 'Account over view', business_path %>
                <% end %>
                <% if current_user.is_advisor == true %>
                  <%= link_to 'advisor panel', advisor_path %>
                <% end %>
                <% if current_user.is_admin == true %>
                  <%= link_to 'admin panel', admin_path %>
                <% end %>
              <% else %>
                <div >      
                  <div >
                    <div >
                      <%= link_to 'Sign In Page', new_session_path%>
                    </div>
                    <div >
                      
                    </div>  
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>
