<!DOCTYPE html>
<html>
  <head>
    <title>Buckskeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo"><%= link_to 'Buckskeeper', root_path %></h1>
        <nav>
          <ul>
            <li><%= link_to 'FLH', flh_path %></li>
            <%if(user_signed_in?) %>
              <% if current_user.is_individual == true %>
                <li><%= link_to 'Account over view', personal_path %></li>
              <% end %>
              <% if current_user.is_business == true %>
                <li><%= link_to 'Account over view', business_path %></li>
              <% end %>
              <% if current_user.is_advisor == true %>
                <li><%= link_to 'Panel', advisor_path %></li>
              <% end %>
              <% if current_user.is_admin == true %>
                <li><%= link_to 'Panel', admin_path %></li>
              <% end %>
              <li><%= button_to "Log out", session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In Page', new_session_path%></li>
            <% end %>
            
          </ul>
        </nav>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>
